.TodoItem-wrapper {
    margin: 1em;
    padding: 1em;
    border-radius: 4px;
    background: rgb(255, 255, 255, 0.7);
    cursor: grab;
}

[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-text);
    font-style: italic;
    font-weight: 10px;
    color: rgb(192, 190, 190);
  }

.TodoItem-content {
    cursor: text;
}