.TodoColumn-wrapper {
    background: #d7f1f8;
    flex: 1;
    margin: 0.5em;
    border-radius: 4px;
    padding: 0.5em;
}

.TodoColumn-header {
    color: #ffffff;
    font-weight: bold;
    background: #01566e;
    padding: 1em;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 2px;
}